BasedOnStyle: Google
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BreakConstructorInitializers: BeforeColon
AllowShortFunctionsOnASingleLine: Inline
