Source: libmongocxx
Priority: optional
Maintainer: Krzysztof Laskowski <krzysztof.laskowski@aeolusbot.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Section: libs
Homepage: https://mongodb.github.io/mongo-cxx-driver/

Package: libmongocxx-dev
Section: libdevel
Architecture: any
Depends: libmongocxx (= ${binary:Version}), ${misc:Depends}
Description: MongoDB C++ Driver (development)
 This package provides C++ development files to interact with MongoDB.

Package: libmongocxx-dbg
Architecture: any
Section: debug
Depends: libmongocxx (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: MongoDB C++ client library (debugging symbols)
 libmongocxx is the officially supported MongoDB client library for C++
 applications.
 .
 This package contains the debugging symbols for the shared libraries.

Package: libmongocxx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MongoDB C++ client library (runtime)
 This package provides C++ driver for MongoDB.
