#!/usr/bin/make -f

# Hardening.
export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie

DEB_BUILD_ARCH     ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

# # Multiarch.
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
# # Num bits
DEB_HOST_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)

%:
	dh  $@ --parallel -v --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DBSONCXX_POLY_USE_MNMLSTC=1 \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=install/usr  # needed to install EP_mnmlstc_core headers correctly
		# DESTDIR is passed only to make install command, but not in installation of external project,
		# done in non-install target

override_dh_auto_install:
	cd build && make install AM_UPDATE_INFO_DIR=no
	cp -r build/install debian/tmp
